.auth-page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-widget {
    width: 400px;
    height: auto;
    justify-content: center;
}

.auth-grid {
    grid-template-columns: auto;
}

.auth-grid-item {
    height: 75px;
}