@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Poppins:wght@300&display=swap');

:root {
  --header-height: 80px;

  /* Colors */
  --default-background-color: #222A41;
  --navbar-hover-background-color: #C74532;
  --navbar-hover-text-color: #F9F9F8;
  --navbar-text-color: #B6ABBD;
  --navbar-width: 250px;
  --content-background-color: #F6F6fD;
  --content-text-color: #212529;
  --description-text-color: #B4B4B4;
  --input-background-color: #FFFFFF;
  --button-color: #FFCE00;
  --button-hover-color: #F2C300;
  --button-click-color: #EAB400;
}

* {
  font-family: 'Poppins', Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background-color: var(--default-background-color);
}

.header {
  height: var(--header-height);
  display: flex;
}

.logo {
  display: flex;
  width: 250px;
  justify-content: center;
  align-items: center;
}

.app-body {
  display: flex;
}

.content {
  flex-grow: 1;
  height: 100%;
  background-color: var(--content-background-color);
  color: var(--content-text-color);
  padding: 30px;
  border-radius: 5px;
}

.center-content {
  display: flex;
  justify-content: center;
  text-align: center;
}

.description {
  color: var(--description-text-color);
}

.button {
  border: none;
  background-color: var(--button-color);
  height: 50px;
  width: 100px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  float: right;
}

.button:hover{
  cursor: pointer;
  background-color: var(--button-hover-color);
}

.button:active {
  background-color: var(--button-click-color);
  outline: 3px rgba(225, 188, 0, 0.33) solid;
}

.grid {
  display: grid;
  gap: 0px 50px;
  padding-top: 30px;
}

/* .grid-item {
  height: 100px;
} */

.label {
  display: inline-block;
}

.input {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--input-background-color);
  padding: 6px 12px 6px 12px;
}

.input:focus {
  outline: none;
}

.input-invalid {
  box-shadow: 0 1px 2px 0 rgba(250, 0, 0, 0.1);
  border: 1px solid red;
}

.standard-widget {
  height: calc(100vh - var(--header-height) - 20px);
  width: calc(100vw - var(--navbar-width));
  margin: 0px 20px 20px 0px;
}

.not-completed {
  color: red;
}

.completed {
  color: green;
}