@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Poppins:wght@300&display=swap');

:root {
  --header-height: 80px;

  /* Colors */
  --default-background-color: #222A41;
  --navbar-hover-background-color: #C74532;
  --navbar-hover-text-color: #F9F9F8;
  --navbar-text-color: #B6ABBD;
  --content-background-color: #FFFFFF;
}

* {
  font-family: 'Poppins', Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background-color: var(--default-background-color);
}

.header {
  height: var(--header-height);
  display: flex;
}

.logo {
  display: flex;
  width: 250px;
  justify-content: center;
  align-items: center;
}

.app-body {
  display: flex;
}

.content {
  flex-grow: 1;
  background-color: var(--content-background-color);
}